@model IEnumerable<Mathemat.io.Models.ContestSubmissions>

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contestant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contestant.FirstName)
            </td>
        </tr>
}
    </tbody>
</table>
